@import '../preloader/preloader.scss';

.c-main {
	&__loading_block {
		@extend %cssload-loader-block;
	}
	&__loading_inner {
		@extend %cssload-loader-inner;
	}
	display: flex;
	padding-top: 20px;
	justify-content: center;
	flex-wrap: wrap;
	height: auto;
	width: 1000px;
	margin: 0px auto 0px auto;
	background-color: none;
}