@import '../preloader/preloader.scss';

.c-main {
	&__loading_block {
		@extend %cssload-loader-block;
	}
	&__loading_inner {
		@extend %cssload-loader-inner;
	}
	display: flex;
	padding-top: 20px;
	justify-content: center;
	position: relative;
	flex-wrap: wrap;
	height: auto;
	width: 1000px;
	margin: 0px auto 0px auto;
	background-color: none;
}

.o-message-error-block {
    display: inline-flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
    align-items: center;
    width: 800px;
    height: auto;
}

.o-message-error {
	display: flex;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 2rem;
    color: black;
}

.o-message-error:before {
	content: "";
    display: block;
    width: 70px;
    height: 70px;
    background-image: url('../../assets/empty.png');
    background-size: 70px 70px;
    margin-right: 20px;
}